*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    button { 
        background: transparent; 
        border: none; 
        cursor: pointer; 
    }
}

.container-emocoes{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-family: 'Material Symbols Outlined';
    font-size: 48px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}

.emocoesEmojis span {
    font-size: 30px;
}

span.raiva{
    color: #ff0000;
}
span.tristeza{
    color: #ffae00;
}
span.neutro{
    color: #ffff00;
}
span.felicidade{
    color: #5eff00;
}
span.muitoFeliz{
    color: #00b10f;
}

.regua-emocoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    border: 1.5px solid black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    width: 60vw;
    height: 2.5vh;
    border-radius: 10px;
    background: linear-gradient(to right, #ff0000, #ffae00, #ffff00, #5eff00, #00b10f);
}
.regua-emocoes button{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

textarea{
    width: 70vw;
    height: 50vh;
    border: 1px solid black;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;
}

.gerarPlaylist{
    border-radius: 20px;
    margin-top: 2rem;
    width: 70vw;
    height: 6vh;
    background: linear-gradient(to right, #5093D2, #294C6C);
    color: white;
    font-size: 20px;
}